body {
  color: #000000;
}

:root {
  --title-color: #212121
  --second-color: #757575;
  --hover-color: #2196f3;
}

.list {
  list-style: none;
}

.button {
  cursor: pointer;
}

/* Логотип */

.logo {
  font-size: 26px;
  text-decoration: none;
  /* cursor: default; */
}

.logo-web {
  color: var(--hover-color);
}

/* Список ссылок меню */

.nav-list {
  text-decoration: none;
  color: var(--title-color);
}

.nav-list:hover,
.nav-list:focus {
  color: var(--hover-color);
}

.nav-mail,
.nav-tel {
  color: var(--second-color);
  text-decoration: none;
}
.nav-mail:hover,
.nav-mail:focus {
  color: var(--hover-color);
}

.nav-tel:hover,
.nav-tel:focus {
  color: var(--hover-color);
}

/* Герой */

.hero {
  background-color: #2f303a;
}
.hero-title {
  color: #ffffff;
  text-transform: uppercase;
}

.hero-button {
  color: #ffffff;
  background-color: var(--hover-color);
}

/* Чем мы занимаемся */

.content-title {
  text-transform: uppercase;
  color: var(--title-color);
}
.content-dscr {
  color: var(--second-color);
}

/* Команда */

.team {
  background-color: #f5f4fa;
}

.team-title {
  color: var(--title-color);
}

.team-dscr {
  color: var(--second-color);
}

/* Footer */

.footer {
  background-color: #2f303a;
}
.footer-logo {
  color: #ffffff;
  font-size: 26px;
  text-decoration: none;
  /* cursor: default; */
}

.address-location {
  color: #ffffff;
  font-style: normal;
}

.address-mail,
.address-tel {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}
.address-mail:hover,
.address-mail:focus {
  color: var(--hover-color);
}

.address-tel:hover,
.address-tel:focus {
  color: var(--hover-color);
}

/* Страница портфолио */

.filters-title,
.projects-title {
  display: none;
}

.filters-button {
  background-color: #f5f4fa;
}

.filters-button:hover,
.filters-button:focus {
  color: #ffffff;
  background-color: var(--hover-color);
}

/* Проекты */

.projects-img-list {
  color: var(--title-color);
}
.projects-dscr {
  color: var(--second-color);
}
