body {
  color: #000000;
  font-family: Roboto, sans-serif;
}

:root {
  --title-color: #212121
  --second-color: #757575;
  --hover-color: #2196f3;
  --hero-color: #ffffff;
}

.list {
  list-style: none;
}

.button {
  cursor: pointer;
}

/* Логотип */

.logo {
  font-size: 26px;
  text-decoration: none;
  color: var(--title-color);

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  /* cursor: default; */
}

.logo-web {
  color: var(--hover-color);

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* Список ссылок меню */

.nav-list {
  text-decoration: none;
  color: var(--title-color);
 

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list:hover,
.nav-list:focus {
  color: var(--hover-color);
}

.nav-mail,
.nav-tel {
  color: var(--second-color);
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-mail:hover,
.nav-mail:focus {
  color: var(--hover-color);
}

.nav-tel:hover,
.nav-tel:focus {
  color: var(--hover-color);
}

/* Герой */

.hero {
  background-color: #2f303a;
}
.hero-title {
  color: var(--hero-color);
 
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  color: var(--hero-color);
  background-color: var(--hover-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

/* Чем мы занимаемся */

.content-title {
  color: var(--title-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.content-dscr {
  color: var(--second-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.main-title {
  color: var(--title-color);
  
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Команда */

.team {
  background-color: #f5f4fa;
}

.team-title {
  color: var(--title-color);
}

.team-dscr {
  color: var(--second-color);
}

/* Footer */

.footer {
  background-color: #2f303a;
}
.footer-logo {
  color: #ffffff;
  font-size: 26px;
  text-decoration: none;
  /* cursor: default; */
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.address-location {
  color: #ffffff;
  font-style: normal;
}

.address-mail,
.address-tel {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}
.address-mail:hover,
.address-mail:focus {
  color: var(--hover-color);
}

.address-tel:hover,
.address-tel:focus {
  color: var(--hover-color);
}

/* Страница портфолио */

.filters-title,
.projects-title {
  display: none;
}

.filters-button {
  background-color: #f5f4fa;
}

.filters-button:hover,
.filters-button:focus {
  color: #ffffff;
  background-color: var(--hover-color);
}

/* Проекты */

.projects-img-list {
  color: var(--title-color);
}
.projects-dscr {
  color: var(--second-color);
}
